body {
  margin: 0;
  padding: 0;
  width: 800px;
}

header {
  height: 200px;
  border: 1px solid black;
  text-align: center;
  border-bottom: none;
}

.main-container {
  display: flex;
}

nav {
  border: 1px solid black;
  width: 100px;
  height: 400px;
  text-align: center;
}

section {
  border: 1px solid black;
  width: 700px;
  height: 400px;
  border-left: none;
  display: flex;
  flex-direction: column;
}

span {
  display: inline-block;
}

footer {
  height: 200px;
  border: 1px solid black;
  border-top: none;
}